extends layout

block content
  .edit-container
    h2 Edit Content
    form(action=`/update-content/${engId}/${langId}` method="POST")
      select(name="editLangCode")
        each item in codes
          option(value=item.code selected=(item.code === langCode))
            = `${item.code} - ${item.country}`
      textarea(type="text" name="engEdit" placeholder="ENG Language")= eng.content
      textarea(type="text" name="langEdit" placeholder="Sub Language")= lang.content
      input(type="submit", value="SUBMIT")
      a.cancel-btn(href="/") Cancel