extends layout

block content
  .menu
    a.brand(href="/")
      h1.title.tcenter= title
      p.subtitle.tcenter Toolkit for data-entry team.
  .container
    .tools.box
      .toolbox
        form(action="/search" method="GET")
          h4 Search
          select(name="searchLangCode")
            each langCode in langCodeList
              option(value=langCode.code selected=(code === langCode.code))
                = `${langCode.code} - ${langCode.country}`
          textarea(name="searchEngContent" placeholder="Search..." required)= searchValue
          input(type="submit" value="Search")

        form(action="/add" method="POST")
          h4 Add New Content
          select#langCodeSelect(name="langCode")
            each langCode in langCodeList
              option(value=langCode.code)
                = `${langCode.code} - ${langCode.country}`
          textarea(name="addEngContent" placeholder="EN Content" required)
          textarea(name="addSubContent" placeholder="Sub Content" required)
          input(type="submit" value="Add New Content")

        form(action="/add-lang" method="POST")
          h4 Add New Language
          input(type="text", name="langCode" placeholder="Language Code")
          input(type="text", name="country" placeholder="Country")
          input(type="submit", value="Add New Language")
          a.form-link(href="/country-code") View all language code
            
    .result.box
      if searchResult
        each item in searchResult
          .result-card
            small.result-eng= item.engContent
            h4.result-lang= item.langContent
            .result-options
              a(href=`edit-content/${item.engId}/${item.langId}/${item.langCode}`) Edit
              a(href=`delete-content/${item.engId}/${item.langId}/${item.uid}`) Delete
      else
        p.result-nothing Nothing Here !!
      